@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;

}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #219ebc, #8ecae6);
    color: #fb8500;


}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #02304710;
    backdrop-filter: blur(10px);
    border: solid 0.1px black;
    border-radius: 8px;
    /* box-shadow: 3px 3px 3px #ffb703; */
    /* box-shadow: inset 0 0 10px #f8a100; */
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;


}

.signup h1 {
    font-size: 3rem;
    color: #ffb703;

}

.signup p {
    font-size: 0.9rem;
    color: azure;

}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

.signup-body p input[type="submit"] {
    border: none;
    color: black;
    cursor: pointer;
    background-color: #219ebc;
    font-size: 1.5rem;
}

.signup-body p input[type="submit"]:hover {
    background-color: #12748d;
    color: beige;
}

.signup-footer {
    color: #eaee0c;
    text-align: center;

}

.signup-body p a {
    color: #ffb703;
    cursor: pointer;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffb803fa, #fb860088);
    position: absolute;
    opacity: 60%;
}

.c1 {
    top: 50px;
    left: 10px;
}

.c2 {
    bottom: 40px;
    right: 2px;
}
